@import '../../global-styles';

.messages {
	.title {
		margin-bottom: 24px;
		@include font-style(44px, 140%, 700);
	}
}
.content {
	display: flex;
	.chatsList {
		height: 100%;
		margin-right: 24px;
	}

	.currChatWrap {
		@include column-align;
		flex: 0 0 70%;
		.currChat {
			position: relative;
			width: 100%;
			height: 400px;
			flex: 1 1 auto;
			margin-bottom: 24px;
			overflow-y: auto;
		}
		.message {}
	}
}