@import '../../global-styles';

.messages {
	.title {
		margin-bottom: 24px;
		@include font-style(44px, 140%, 700);
	}
}
.content {
	display: flex;
	.chats {
		height: 100%;
	}
	.chat {}

	.currChatWrap {
		height: 100%;
		.message {}
	}
}