@import '../../../global-styles';

.Field {
	position: relative;
	width: 100%;
	textarea {
		resize: none;
	}
	textarea, input {
		@include input;
		&:invalid {
			&::placeholder {
				color: $mainCol;
			}
		}
	}
	.errorMessage {
		position: absolute;
		right: -16px;
		top: 50%;
		white-space: nowrap;
		@include smallText;
		color: rgba($color: $mainCol, $alpha: 0.7);
		font-weight: 500;
		font-style: italic;
		background-color: $grayBg;
		transform: translate(100%, -50%);
	}
}