@import '../../../global-styles';

.form {
	position: absolute;
	top: calc(100% + 24px);
	left: 0;
	@include column-align;
	align-items: flex-end;
	width: 100%;
	z-index: 2;
	.textarea {
		min-height: 50px;
		max-height: 150px;
		width: 100%;
	}
	.button {
		@include formBtn();
	}
}