@import '../../global-styles';

.Textarea {
	position: relative;
	width: 100%;
	.textarea {
		@include input;
		resize: none;
		&.error {
			&::placeholder {
				color: $mainCol;
			}
		}
	}
	.errorMessage {
		position: absolute;
		left: 0;
		bottom: -20px;
		@include text;
		color: rgba($color: $mainCol, $alpha: 0.7);
		font-weight: 500;
		font-style: italic;
	}
}