@import '../../global-styles';

.Users {
	.title {
		@include title;
		margin-right: 16px;
	}
}
.UsersList {
	.noUsersMessage {
		margin: 0 auto;
		@include title;
		color: $mainCol;
	}
}
.UsersHeader {
	margin-bottom: 32px;
	@include row-align;
	justify-content: space-between;
}