@import '../../global-styles';

.NetworkError {
	position: absolute;
	top: 30%;
	left: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	.message {
		max-width: 300px;
		@include bigText;
		color: $mainCol;
	}
}