@import '../../global-styles';

.Pagination {
	display: flex;
	max-width: 300px;
	margin: 0 auto 20px;	
	overflow: hidden;
	.paginationBtn {
		margin-right: 8px;
		@include text;
		font-weight: 500;
		transition: 0.15s;
		&:last-child {
			margin-right: 0;
		}
		&:hover, &._active {
			color: $mainCol;
		}
	}
}