@import '../../global-styles';

.Pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;	
	overflow: hidden;
	.paginationBtn {
		margin-right: 8px;
		@include text;
		font-weight: 500;
		transition: 0.15s;
		&:last-child {
			margin-right: 0;
		}
		&:hover, &._active {
			color: $mainCol;
		}
	}
	.navBtn {
		margin: 0 15px;
		@include formBtn;
	}
}