@import '../../global-styles';

.header {
	padding: 25px 0;
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: $mainCol;
	.body {
		@include row-align;
		justify-content: space-between;
	}
	.logo {
	  max-width: 75px;
	  img {
		 width: 100%;
	  }
	}
	.login {
		.loginLink {
			@include text;
			color: #fff;
			font-weight: 500;
		}
	}
 }