@import '../../../global-styles';

.profileBody {
	.cover {
		margin-bottom: 28px;
		width: 100%;
		height: 250px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.info {
	display: flex;
	margin-bottom: 40px;
	.avatar {
		@include userAvatar;
	}
	.login {
		@include bigText;
		margin-bottom: 8px;
	}
	.statusText {
		@include text;
		.defaultStatus {
			color: $gray;
		}
	}
	.statusInput {
		padding: 10px 12px;
		@include smallText;
		border: 1px solid $mainCol;
		border-radius: 6px;
		resize: none;
	}
}