@import '../../../global-styles';

.profileBody {
	.cover {
		margin-bottom: 28px;
		width: 100%;
		height: 250px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.info {
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
	.avatar {
		@include userAvatar;
		&.my {
			position: relative;
			&:hover {
				label {
					opacity: 1;
				}
			}
			img {}
			input {
				position: absolute;
				z-index: -1;
				opacity: 0;
				visibility: hidden;
			}
			label {
				position: absolute;
				top: 50%;
				left: 50%;

				@include text;
				text-align: center;
				color: #fff;

				opacity: 0;
				background-color: rgba($color: #000000, $alpha: 0.5);
				transform: translate(-50%, -50%);	
				z-index: 2;
			}
		}
	}
	.ProfileInfo {
		margin-right: 16px;
		flex: 1 1 auto;
		.login {
			@include bigText;
			margin-bottom: 8px;
		}
		p {
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.statusText {
			@include text;
			max-width: 600px;
			.defaultStatus {
				color: $gray;
			}
		}
		.profileStatus {
			margin-bottom: 8px;
		}
		.statusInput {
			@include input;
			resize: none;
		}
		.editBtn {
			@include formBtn;
		}
	}
	.ProfileInfoForm {
		.errorMessage {
			margin-bottom: 16px;
			@include text;
			color: $mainCol;
			font-weight: 500;
		}
		.input {
			margin-bottom: 16px;
			max-width: 300px;
			width: 100%;
		}
		.lookingForAJob, .lookingForAJobDescription {
			b {
				margin-bottom: 8px;
			}
		}

		.submitBtn {
			@include formBtn;
		}
		.contacts {
			.contactsTitle {
				@include bigText;
				font-weight: 500;
				margin-bottom: 20px;
			}
			.contact {
				padding-left: 20px;
				b {
					margin-bottom: 16px;
				}
			}
		}
	}
	.logoutBtn {
		@include formBtn;
	}
}