@import '../../../global-styles';

.profileBody {
	.cover {
		margin-bottom: 28px;
		width: 100%;
		height: 250px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.info {
	display: flex;
	margin-bottom: 40px;
	.avatar {
		@include userAvatar;
	}
	.description {
		p {
			@include text;
		}
	}
}