@import '../../global-styles';
.sidebar {
	grid-row-start: 2;
	padding-left: 20px;
	background-color: $mainCol;
	.nav {
	  display: flex;
	  flex-direction: column;
	  padding: 15px 0;
	  a {
		 display: block;
		 margin-bottom: 10px;
		 font-size: 18px;
		 font-weight: 700;
		 color: #fff;
		 transition: 0.2s;
		 &:hover {
			opacity: 0.8;
		 }
		 &:last-child {
			margin-bottom: 0;
		 }
	  }
	}
 
}