@import '../../global-styles';

.Info {
	display: flex;
	align-items: flex-start;
	.avatar {
		@include userAvatar;
		margin-right: 12px;
	}
	.description {
		flex: 1 1 auto;
		.login {
			@include bigText;
			margin-bottom: 8px;
		}
	}
	.ProfileStatus {
		.text {
			@include smallText;
			i {
				font-style: italic;
				color: $gray;
			}
		}
		.textarea {
			@include input;
			max-width: 500px;
			width: 100%;
			resize: none;
		}
	}

	.logoutBtn {
		@include formBtn;
	}
}